**/bin/
**/target/
**/.classpath
**/.project
**/.settings/
/myexperiment/
**/.DS_Store
**/dinowolf-repository*
**/dependency-reduced-pom.xml
**/node_modules/
**/dinowolf-http-cache*
**/*.csv
server/dist/**
server/dinowolf-dist*
